@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800&display=swap');
@layer base {
    .icons {
        width: 26px;
        margin: 0 7px 20px 7px;
    }
    .arrow { 
        width:85px; 
        height:85px;
        fill:#00c2cb;
        opacity: 0.55;
        /* cursor: pointer; */
    }
    .contact {
        color: #ffff;
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-color: #00c2cb;
    }
    li {
        @apply p-4 m-5 text-lg font-Rale
    }
    svg {
        @apply p-4
    }
    h1 {
        @apply font-RS text-white font-extrabold bg-gradient-to-r from-left-grad via-middle-grad to-end-grad inline-block bg-clip-text text-transparent
    }
    h2 {
        @apply font-RS text-white m-1.5 font-extrabold bg-gradient-to-r from-left-grad via-middle-grad to-end-grad inline-block bg-clip-text text-transparent
    }
    g {
        fill: #ffff
    }

}